<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Kozar\MessageQueueDB\Api\Data\SampleDataInterface" type="Kozar\MessageQueueDB\Model\Queue\SampleData"/>
</config>
