<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
       <tab id="prices" translate="label" sortOrder="10">
           <label>PRICES</label>
       </tab>
       <section id="setPrices" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
           <class>separator-top</class>
           <label>Set prices </label>
           <tab>prices</tab>
          <resource>Kozar_Prices::prices_configuration</resource>
           <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
               <label> Setting prices</label>
               <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1"  showInWebsite="0" showInStore="0">
                   <label>Module Enable</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="base_price" translate="label" type="select" sortOrder="2" showInDefault="1"  showInWebsite="0" showInStore="0">
                   <label>Base Price show</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="final_price" translate="label" type="select" sortOrder="3" showInDefault="1"  showInWebsite="0" showInStore="0">
                   <label>Final Price show</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="special_price" translate="label" type="select" sortOrder="4" showInDefault="1"  showInWebsite="0" showInStore="0">
                   <label>Special Price show</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="tier_price" translate="label" type="select" sortOrder="5" showInDefault="1"  showInWebsite="0" showInStore="0">
                   <label>Tier Price show</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="catalog_rule_price" translate="label" type="select" sortOrder="6" showInDefault="1"  showInWebsite="0" showInStore="0">
                   <label>Catalog Rule Price show</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
           </group>
       </section>
   </system>
</config>
