<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Kozar_UiComponent::ui_app" title="Kozar study Ui App"/>
                <resource id="Kozar_UiComponent::shipping_options" title="Shipping option"/>
            </resource>
        </resources>
    </acl>
</config>
