<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <settings>
            <general>
                <enable>1</enable>
                <select_payment>checkmo</select_payment>
                <select_delivery>flatrate_flatrate World</select_delivery>
            </general>
        </settings>
    </default>
</config>
