<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\LinkTypeProvider">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="customlink" xsi:type="const">Roadmap\CustomProductLink\Model\Product\Link::LINK_TYPE_CUSTOMLINK</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ProductLink\CollectionProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="customlink" xsi:type="object">Roadmap\CustomProductLink\Model\ProductLink\CollectionProvider\CustomLinkProducts</item>
            </argument>
        </arguments>
    </type>
    <!-- Plugin to add update argument in collectionProvider -->
    <type name="Roadmap\CustomProductLink\Model\ProductLink\CollectionProvider\CustomLinkProducts">
        <plugin name="change_custom_link_before" type="Roadmap\CustomProductLink\Plugin\UpdateToCustomLinkModel"/>
    </type>
</config>
